@charset "UTF-8";
body{
    background-color: plum; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px;
}
h1{
    color: blueviolet;
    background-color: rebeccapurple;
}
h2{
    color: indigo;
}
p{
    text-align: justify;
}