@charset "UTF-8";

body{ 
    background-color: rgb(173, 238, 214);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgba(236, 138, 19, 0.914);
}
h1#principal{ 
    text-align: center;
}
h2{
    color: rgb(5, 87, 8);
}
.basico{
    color: rgb(62, 141, 57);
}
.intermediario{
    color: rgb(202, 229, 50);
}
.avancado{
    color: crimson;
}